body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input[type="file"] {
  display: none;
} */
.homeContainer {
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.output_canvas {
  margin: 70px;
  border-radius: 3px;  
  /* animation: 0.25s anim-lineUp ease-out; */
  animation: fadeIn 0.5s;
}
.output_canvas2 {
  margin: 0px;
  border-radius: 0px;
  /* animation: 0.25s anim-lineUp ease-out; */
  animation: 1s anim-lineUp ease-out;
}

.canvasDiv {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* height: 100vh; */

}

.loading {
  margin-top: 20vh;
  font-weight: 100;
  animation: 2s anim-flipY ease infinite;
  font-size: 300%;


}
.reminder {
  margin-top: 20vh;
  font-size: 125%;
  font-weight: 100;
  color: rgb(55, 99, 219);  
}
.reminder2 {  
  bottom: 0%;
  text-align: center;  
  font-weight: 100;
  font-size: 100%;
  color: rgb(221, 39, 39);  
  -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
    animation-iteration-count: 20
}
.reminder3 {    
  margin-top: 95%;
  text-align: center;  
  font-size: 80%;     
}
.graphTitle {
  font-weight: 100;
  margin: 10px;
}

.error {
  margin-top: 40vh;
  font-size: 100%;
}

.errorText {
  margin: 0px;
  font-weight: 100;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }

  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }

  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

@keyframes anim-flipY {
  0% {
    opacity: 0;
    transform: rotateY(90def);
  }

  50% {
    opacity: 1;
    transform: rotateY(720deg);
  }

  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateY(720deg);
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.videoLabel {
  color: white;  
  background-color: grey;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  padding-left: 4ch;
  padding-right: 4ch;
  padding-bottom: 2ch;
  padding-top: 2ch;
  margin-top: 40vh;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #333;
  font-weight: 100;
  /* animation: 2s anim-lineUp ease-out; */
  animation: 2s anim-lineUp ease-out;
}

.videoLabel:hover {
  background-color: #555;
}

.continueBtn {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  animation: 2s anim-lineUp ease-out;
}

.graphs {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  /* align-content: flex-start; */
  /* flex-direction: column; */
  height: 100vh;
}
.break {
  flex-basis: 100%;
  height: 0;
}
#graphBtns {
  position: absolute;
  top: 0px;
  left: 0px;
}
#avgTickBox {
  font-size: 125%;
  font-weight: 100;
  /* margin: 15px; */
  position: absolute;
  top: 10px;
  right: 20px;
}

input[type="file"] {
  display: none;
}
.btn {
  /* border-radius: 50%; */
  border-style: none;
  /* border-width: 1px; */
  margin: 0px;
  height: 65px;
  width: 65px;
  font-size: 30px;
  font-weight: bold;
}

.btn2 {
  border-radius: 5%;
  border-width: 1px;
  align-items: center;
  margin: 40px;
  height: 35px;
  width: 95px;
  font-size: small;
  font-weight: 100;
  background-color: rgb(202, 202, 202);
  animation: 2s anim-lineUp ease-out;
}